cpan_user HMBRAND
automated_testing 1
skip_kwalitee 1
skip_manifest 1
skip_prereqs 1
skip_dist 1
allow_glob_in_perls 1
perls /pro/bin/perl\
:/pro/bin/perl5.8.8\
:/pro/bin/perl5.[12][02468].*\
:/pro/bin/perl5.27.*\
:/pro/bin/tperl5.8.8\
:/pro/bin/tperl5.[12][02468].*\
:/pro/bin/tperl5.27.*\
:/usr/bin/perl
